<div class="container">
    <div class="card m-3">
        <div class="card-body">
            <button (click)="mine()" type="button" class="btn btn-success mx-3">Minar Bloque</button>
            <a class="btn btn-secondary" href="/admin" role="button">Actualizar</a>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">Votos Sin Confirmar</h5>
            <div class="accordion" id="accordionExample">
                <div *ngFor="let unconfirmedTx of unconfirmedTx; index as i;" class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#data{{ i }}" aria-expanded="false">
                            {{ unconfirmedTx.author }}
                        </button>
                    </h2>
                    <div id="data{{ i }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Voto: </strong>{{ unconfirmedTx.content }}<br>
                            <!--<small>{{ unconfirmedTx.timestamp | date:'longTime' }}</small>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">Blockchain</h5>
            <div *ngIf="chain" class="accordion" id="accordionExample">
                <div *ngFor="let chain of chain.chain" class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button *ngIf="chain.index == 0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#data{{ chain.hash }}" aria-expanded="false">
                            <strong>Bloque Genesis:&nbsp;</strong> {{ chain.hash }}
                        </button>
                        <button *ngIf="chain.index != 0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#data{{ chain.hash }}" aria-expanded="false">
                            <strong>Bloque:&nbsp;</strong> {{ chain.hash }}
                        </button>
                    </h2>
                    <div id="data{{ chain.hash }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Index: </strong>{{ chain.index }}<br>
                            <strong>Hash: </strong>{{ chain.hash }}<br>
                            <strong>Bloque Anterior: </strong>{{ chain.previous_hash }}<br>
                            <strong>Hora: </strong>{{ chain.timestamp * 1000 | date: 'MMMM dd, yyyy. hh:mm aa' }}<br>
                            <strong>Votos: </strong><br>
                            <div class="accordion" id="accordion2">
                                <div *ngFor="let transaction of chain.transactions; index as j;" class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#data{{ chain.index }}{{ j }}" aria-expanded="false">
                                            {{ transaction.author }}
                                        </button>
                                    </h2>
                                    <div id="data{{ chain.index }}{{ j }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion2">
                                        <div class="accordion-body">
                                            <strong>Voto: </strong>{{ transaction.content }}<br>
                                            <!--<small>{{ unconfirmedTx.timestamp | date:'longTime' }}</small>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<small>{{ unconfirmedTx.timestamp | date:'longTime' }}</small>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>